<form action="/api/sessions/login" method="post">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Login</button>
</form>


<div>
    <a href="/api/sessions/register"> <button> Registrarse </button> </a>
</div>

<div>
    <a href="/api/sessions/github"> <button> Entrar con github </button> </a>
</div>